# Configurações de Servidor
PORT=3000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

# Banco de Dados
DATABASE_URL="file:./dev.db"
# DATABASE_URL="postgresql://omnistock_user:omnistock_pass@localhost:5432/omnistock_db?schema=public"

# Segurança JWT
JWT_SECRET="omnistock_super_secret_jwt_key_2026"
JWT_EXPIRES_IN="24h"
